.App {
  text-align: center;
}

.App__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: whitesmoke;
  margin: 20px;
  width: 100%;
  box-sizing: border-box;
}

.App__formcontrol {
  display: flex !important;
  flex-direction: row !important;
}

.App__input {
  flex: 1;
}

.App__iconButton {
  flex: 0;
}
